<%- include('./../_partials/head.ejs'); -%>

<h1>About</h1>
<p> 
    <%= user.firstname %>
    <%= user.lastname %>
</p>

<img src="images/della_duck.jpg" alt="Della Duck" height="200" >

<%- include('./../_partials/footer.ejs'); -%>