<%- include('./../_partials/head.ejs'); -%>

<h1>Réponse bien recu <%= username %> :)</h1>

<img src="images/della_duck_ok.jpg" alt="Formulaire OK" height="200">

<%- include('./../_partials/footer.ejs'); -%>
